@charset "UTF-8";
*{
    margin:0;
    padding:0;
    text-decoration: none ;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --cor1:#4E1041;
    --cor2:#9C3084;
    --cor3:#9C117E;
    --cor4:#209C02;
    --cor5:#1D4F11;
}
body {
    background-color: #fff ;
}


footer{
	margin-top:10px;
}
.largura-maxima-rodape{
border-top:1px solid rgba(0, 0, 0, 0.63);
}
.prerodape{
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	justify-content: space-between;
	max-width: 1080px;
	min-height: 200px;
	margin: auto;
	background-color: none;
	padding-top: 50px;
}
footer .rodape{
	margin-top: 200px;
}
footer .rodape p{
	font-family: 'Poppins', sans-serif;
	color: #000000d7;
	font-size: .8rem;
	text-align: center;
	font-weight: 600;
}
#menu-rodape{
	margin: auto;
	height: 150px;
}
.redes-sociais{
	text-align: center;
}
.redes-sociais ul{
	display: flex;
}
.redes-sociais i{
	width: 40px;
	height: 40px;
	background-color: #9C117E;
	color: #fff;
	font-size: 1.3rem;
	margin: 10px 0px 10px 30px;
	padding: 10px;
	border-radius: 20px;
}
.menu-rodape li{
	text-align: center;
	margin: 10px;
}
.menu-rodape a{
	color:#9C117E;
	font-weight: 400;
}
.menu-rodape a:hover{
	border-bottom: 2px solid #9C117E;
	transition: .5s;

}

@media(max-width:770px){
	.prerodape{
		display: block;
		margin-bottom: 20px;
	}
	#menu-rodape{
		margin: 20px auto;
		width: 100%;
		height: 250px;
	}
	.redes-sociais li{
		margin: auto;
	}
	.redes-sociais{
		margin-top: 200px;
		margin-bottom: 100px;
	}
	.menu-rodape{
		text-align: center;
	}
	.formas-de-pagamento{
		text-align: center;
	}
	.redes-sociais i{
		margin: auto;
		margin-top: 10px
	}
	footer .rodape{
		margin-top: 0px;
	}
}
footer h3{
	color: rgba(0, 0, 0, 0.808);
	font-weight: 600;
	text-transform: uppercase;
}