@charset "UTF-8";
*{
    margin:0;
    padding:0;
    text-decoration: none ;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --cor1:#4E1041;
    --cor2:#9C3084;
    --cor3:#9C117E;
    --cor4:#209C02;
    --cor5:#1D4F11;
}
body {
	min-height: 1500px;
}
main{
    position: absolute;
    top: 95vh;
    left: 0;
    right: 0;
	max-width: 1080px;
	min-height: 320px;
	margin: auto;
}


/*------------------------------------imagem header----------------------------------*/
#img{
    position: fixed;
	top: -60px;
    width: 100%;
}
.imagem1{
    width: 100%;
    width: 100%;
	height: 100%;
    margin-top:60px;
}


/*---------------------------------Headline---------------------------*/



.headline{
    position: fixed;
    top: 30%;
	width: 100%;
	z-index: 100;
	padding: 50px 200px 20px 60px;	
}

.texto-na-imagem{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	border-radius: 15px;
	padding: 5px;
	font-size: 2.3rem;
	font-weight: 800;
	text-shadow: 2px 2px 3px black;
	display: block;
	margin: auto;
	z-index: 0;
}

.headline a{
	background-color: #fcb037;
	color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 1.3rem;
	font-weight: 500;
	box-shadow: 3px 2px 6px 4px rgba(0, 0, 0, 0.418);
	display: block;
	width: 250px;
	margin: 10px ;
}
#btn_plano:hover{
	background-color: #80276c;
	color: rgb(255, 255, 255);
	cursor: pointer;
	transition: .4s;
}
@media(max-width: 800px){
	.headline{
		padding: 20px;
		
	}
	.texto-na-imagem{
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
}

@media(max-width: 700px){
		
	.texto-na-imagem{
		font-size: 1.6rem;
	}
}
@media(max-width: 600px){
	
	.texto-na-imagem{
		font-size: 2rem;
	}
	.headline{
        position: fixed;
        top: 20%;
		text-align: center;
		position: absolute;
		width: 100%;
		z-index: 100;	
	}
	.headline a{
		text-align: center;
		position: absolute;
		width: 90%;
		margin: auto;
		
	}
}





/*---------------------------------Como funciona?------------------------------------*/

.box-funcionamento{
	margin: 10px;
}
.funcionamento{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.titulo-funcionamento{
	text-align: center;
}
.h1-funcionamento{
    font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	color: #000000c7;
    padding: 0 15px;
    margin: 10px 0 40px;
    border-left: 10px solid #9C117E;
    border-right: 10px solid #9C117E;
    display: inline-block;
}
.section-funcionamento h3{
	margin-top: 20px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color:#000000c7 ;
}
.section-funcionamento p{
	margin:5px;
    padding: 10px;
    color: #000000da;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	text-align: center;
}
.funcionamento i{
	font-size: 2rem;
}
@media (max-width:720px) {
	.funcionamento{
		display: block;
		align-items: center;
	}
	.titulo-funcionamento{
		margin-top: 10px;
		padding: 0;
	}
	.funcionamento i{
		margin-top:10px;
	}
}
h1{
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size:2rem;
	padding-top: 10px;
}
p{
    padding: 20px;
    color: rgb(0, 0, 0)
}
hr{
	width:90% ;
	margin: auto;
	height: 5px;
	background-color: #9C117E;
	border-radius: 10px;
}
/*-------------------------------Foto Amanda------------------------------------*/

.titulo-lista-clube{
	text-align: center;
}
.titulo-lista-clube h3{
	padding: 0 15px;
    margin: 50px 30px 40px 30px;
    border-left: 10px solid #9C117E;
    border-right: 10px solid #9C117E;
    display: inline-block;font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	color: #000000c7;
}
.secao_foto-e-lista h3{
	color:#9C117E;
	font-size: 2rem;
	text-align: center;
	margin: 40px 10px 10px 10px;
}
.foto-facai{
	height: 400px;
	width: 400px;
	margin: 30px;
	
}
.fotofacai{
	width: 100%;
	height: 100%;
}
.foto-e-lista{
	display: flex;
}
.secao_foto-e-lista p{

	
	font-size: 1rem;
	text-align: left;
}
.lista{
	margin: 30px;
}
.lista-clube i{
	font-size: 1.4rem;
}
.lista-clube li{
	font-size: 1.2rem;
	text-align: justify;
	font-weight: 400;
	font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
	color:#000000c7;

}

@media(max-width:850px){
	.foto-e-lista{
		display: block;
	}
	.foto-facai{
		position: relative;
		margin: auto;
	}
	.secao_foto-e-lista li{
		text-align: center;
	}
}
@media(max-width:430px){
	.foto-facai{
		height: 350px;
		width: 350px;
		
	}
}
@media(max-width:380px){
	.foto-facai{
		height: 300px;
		width: 300px;
		
	}
}
/*--------------------------------Garantia-------------------------------------*/

.titulo-garantia{
	text-align: center;
}
.titulo-garantia h3{
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	color: #000000c7;
	padding: 0 15px;
    margin: 50px 30px 40px 30px;
    border-left: 10px solid #9C117E;
    border-right: 10px solid #9C117E;
    display: inline-block;
}
.section-garantia{
	display: flex;
	align-items: center;
}
.section-garantia h3{
	margin:10px 10px 20px 10px;
    padding: 20px;
    color: #000000c7;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 1.1rem;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
}
.section-garantia i{
	font-size: 3rem;
	color: #9C117E;
	margin: 10px ;
}


@media(max-width:900px){
	.section-garantia{
		display: block;
		margin:0;
	}
	.box-garantia{
		font-size: 0.9rem;
		margin:auto;
		width:60%;
		text-align: center;
	}
	.section-garantia h3{
		margin:30px 0px 10px 0px;
	}
	.section-garantia i{
		margin: 0;
	}
}
@media(max-width:600px){
	.box-garantia{
		width:70%;
	}
	.titulo-garantia h3{
		margin: 50px 30px 10px 30px;
	}
}

/*-------------------------------------------------------------------------------*/

.section-proximos-envios{
	text-align: center;
	height: 300px;
	margin-top: 40px;
}
.section-proximos-envios h3{
	font-size: 2rem;
	color: #000000d3;
	padding: 0 15px;
    margin: 50px 30px 40px 30px;
    
    border-bottom: 5px solid #9C117E;
    display: inline-block;
}


/*--------------------*/
.titulo-btn{
	text-align: center;
}
.titulo-btn h3{
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	color: #000000c7;
	padding: 0 15px;
    margin: 50px 30px 20px 30px;
    border-left: 10px solid #9C117E;
    border-right: 10px solid #9C117E;
    display: inline-block;
}

.section-btn{
	text-align: center;
	padding: 20px;
	height: 100px;
	
}

.btn-plano1{
	background-color: #fcb037;
	color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	border: 2px solid white;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.6rem;
	font-weight: 500;
	width: 150px;
}

@media(max-width:500px){
	.btn-plano1{
		font-size: 1.3rem;
		padding: 10px;;
	}
}

/*--------------------*/


.section-video{
	height: 100vh;
	margin-bottom: 80px;
	text-align: center;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-top: 30px;
   }
   .embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   }
   
@media(max-width:900px){
	.section-video{
		height: 80vh;
		margin-bottom: 80px;
		text-align: center;
 	}
}


/*--------------------*/








.btn_whatsapp{
	position:fixed;
	width:50px;
	height:50px;
	bottom:20px;
	left:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: -2px 1px 7px 2px #00000071;
	z-index:900;
}
.btn_whatsapp i{
	margin-top:10px
}
@media(max-width:500px){
	.btn_whatsapp{
		width:43px;
		height:43px;
		bottom:20px;
		font-size:30px;
	}
	.btn_whatsapp i{
		margin-top:5px
	}
}
/*------------------------------------------------------------------------*/